In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
df=pd.read_csv("Raw Sales Data.csv")
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Month         224 non-null    object
 1   Channel       224 non-null    object
 2   Sub-Channels  224 non-null    object
 3   Product Name  224 non-null    object
 4   Category      224 non-null    object
 5   Qty           224 non-null    object
 6   Sales         224 non-null    object
dtypes: object(7)
memory usage: 12.4+ KB
None

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales
0,01-Dec-20,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,"1,116","4,28,700"
1,01-Dec-20,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,"3,003","13,74,831"
2,01-Dec-20,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,"2,962","7,32,167"
3,01-Dec-20,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,"1,004","3,77,100"
4,01-Dec-20,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555,"1,52,287"

In [18]:
df['Sales']=df['Sales'].str.replace(",","")
df['Sales']=df['Sales'].astype(int)
df['Sales'].dtype

dtype('int32')

In [19]:
df['Qty']=df['Qty'].str.replace(",","")
df['Qty']=df['Qty'].astype(int)
df['Qty'].dtype

dtype('int32')

In [20]:
#1. Monthwise number of quantities sold
df_monthwise_Qty=df.groupby(["Month"])["Qty"].sum()
df_monthwise_Qty=pd.DataFrame(df_monthwise_Qty).reset_index(0)
df_monthwise_Qty

       Month    Qty
0  01-Dec-20  85427
1  01-Feb-21  76393
2  01-Jan-21  67732
3  01-Mar-21  80229

In [21]:
#2. Category wise Qty sold
df_categorywise_Qty=df.groupby(["Category"])["Qty"].sum()
df_categorywise_Qty=pd.DataFrame(df_categorywise_Qty).reset_index(0)
df_categorywise_Qty

               Category     Qty
0  Functional nutrition   42354
1     Gourmet Nutrition   89279
2                Juices  178148

In [22]:
#Sub-channel wise total sales
df_subchannelwise_sales=df.groupby(["Sub-Channels"])["Sales"].sum()
df_subchannelwise_sales=pd.DataFrame(df_subchannelwise_sales).reset_index(0)
df_subchannelwise_sales

         Sub-Channels     Sales
0              AMAZON  35606804
1          Big Basket   1207522
2                 D2C  28047538
3            Flipkart   3770415
4               GOQII    582600
5   Offline - Central    375332
6      Offline - East    811146
7        Offline - MT   6257948
8     Offline - South   3446395
9      Offline - West   6441427
10     Offline -North   1206564

In [23]:
#Highest sale in which month
df_highest=df["Sales"].max()
df_highestsale=df[df["Sales"]==df_highest]

df_highestsale['Month'].values[0]
df_highestsale=df_highestsale['Month']
df_highestsale=pd.DataFrame(df_highestsale.reset_index(0))
df_highestsale

   index      Month
0    168  01-Mar-21

In [24]:
#Replacing regex for future version
df['Product Name']= df['Product Name'].str.replace('\d+','#')
df['Product Name']=df['Product Name'].apply(lambda x:x.split('#')[0])
df['Product Name']

<ipython-input-24-f086ed88db78>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Product Name']= df['Product Name'].str.replace('\d+','#')

0          ALOE + AMLA JUICE
1      ALOE + GARCINIA JUICE
2            ALOE VERA JUICE
3         ALOE VERA SKIN GEL
4                 NEEM JUICE
                ...
219          ORGANIC GULKAND
220    ALOE + GARCINIA JUICE
221               AMLA JUICE
222           GET SLIM JUICE
223       RAW HONEY ( MADHU)
Name: Product Name, Length: 224, dtype: object

In [25]:
#5. Highest selling product (based on sales) (packaging quantity doesn't matter 
#Ex. consider "GET SLIM JUICE 1 L" and "GET SLIM JUICE 500 ML" as one product)

highest_selling=df.groupby('Product Name')['Sales'].sum()
df_highest_selling_product=highest_selling .reset_index().sort_values('Sales', ascending=False).head(1)
df_highest_selling_product

             Product Name     Sales
1  ALOE + GARCINIA JUICE   12249252

In [26]:
df

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales
0,01-Dec-20,Marketplace,AMAZON,ALOE + AMLA JUICE,Juices,1116,428700
1,01-Dec-20,Marketplace,AMAZON,ALOE + GARCINIA JUICE,Juices,3003,1374831
2,01-Dec-20,Marketplace,AMAZON,ALOE VERA JUICE,Juices,2962,732167
3,01-Dec-20,Marketplace,AMAZON,ALOE VERA SKIN GEL,Gourmet Nutrition,1004,377100
4,01-Dec-20,Marketplace,AMAZON,NEEM JUICE,Juices,555,152287
...,...,...,...,...,...,...,...
219,01-Mar-21,Marketplace,Big Basket,ORGANIC GULKAND,Gourmet Nutrition,509,165426
220,01-Mar-21,Marketplace,Flipkart,ALOE + GARCINIA JUICE,Juices,542,248830
221,01-Mar-21,Marketplace,Flipkart,AMLA JUICE,Juices,645,140907
222,01-Mar-21,Marketplace,Flipkart,GET SLIM JUICE,Juices,1242,436043
223,01-Mar-21,Marketplace,GOQII,RAW HONEY ( MADHU),Gourmet Nutrition,971,582600

In [27]:
#. List of different products company is offering (packaging quantity doesn't matter. 
#Ex. consider "GET SLIM JUICE 1 L" and "GET SLIM JUICE 500 ML" as one product)
df_category=df.groupby('Product Name')['Sales'].sum()
df_category=pd.DataFrame(df_category.reset_index(0))
df_category

                       Product Name     Sales
0                ALOE + AMLA JUICE    1964781
1            ALOE + GARCINIA JUICE   12249252
2                  ALOE VERA JUICE    6024517
3               ALOE VERA SKIN GEL    4740257
4               AMLA + GILOY JUICE     217029
5                       AMLA JUICE    5862740
6               APPLE CIDER VINEGAR   4515393
7                   DIA FREE JUICE    1519080
8                GET SLIM CAPSULES     335580
9                   GET SLIM JUICE    9122552
10                    HIMALAYA OIL   12000055
11               IMMUNE CARE JUICE     906168
12              KARELA JAMUN JUICE    2831031
13    MASALA SUPERGRAIN MIX ENERGY     275046
14  MASALA SUPERGRAIN MIX IMMUNITY     781152
15                      NEEM JUICE     704106
16                      NONI JUICE    4786064
17                 ORGANIC GULKAND    1053972
18          ORGANIC JAGGERY POWDER    1742024
19              RAW HONEY ( MADHU)     582600
20          SLIM SHAKE - CHOCOLATE    1534411
21              SLIM SHAKE - MANGO    1317327
22                  TRIPHALA JUICE     798749
23               TULSI GILOY JUICE    4143236
24       VEGAN PROTEIN - CHOCOLATE     851822
25                 VIGOR MAX JUICE     652500
26              VIRGIN COCONUT OIL    1717663
27               WHEAT GRASS JUICE    4524584

In [28]:
#Summary in excel
writer=pd.ExcelWriter('Raw Sales Data solved by Neeraj Raut.xlsx',engine='xlsxwriter')
df.to_excel(writer,sheet_name='Data',index=False)
df_monthwise_Qty.to_excel(writer,sheet_name='df_monthwise_Qty',index=False)
df_categorywise_Qty.to_excel(writer,sheet_name='df_categorywise_Qty',index=False)
df_subchannelwise_sales.to_excel(writer,sheet_name='df_subchannelwise_sales',index=False)
df_highestsale.to_excel(writer,sheet_name='df_highestsale',index=False)
df_highest_selling_product.to_excel(writer,sheet_name='df_highest_selling_product',index=False)
df_category.to_excel(writer,sheet_name='df_category',index=False)
writer.save()